{% extends 'base.html.twig' %}

{% block title %} - Edit User {% endblock %}

{% block content %}
<div class="container mt-25">


    {% if error %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                {{ error }}
            </div>
        </article>
    {% endif %}

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Edit {{ userToEdit.email }}
                </p>
            </header>
            <form action="/edit/{{ userToEdit.id }}" method="post">
                <div class="card-content">
                    <div class="content">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input type="text" class="input is-large" name="email" value="{{ userToEdit.email }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input type="password" class="input is-large" name="password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Role</label>
                                <div class="select">
                                    <select name="role">
                                        {% for role in roles %}
                                            <option value="{{ role }}">{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/overview" class="card-footer-item">Cancel</a>
                    <button type="submit" class="card-footer-item">Save</button>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </form>
        </div>
</div>
{% endblock %}
