{% extends 'base.html.twig' %}

{% block title %} - Login {% endblock %}

{% block content %}

<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please login to proceed.</p>

                {% if error %}
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Error</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            {{ error }}
                        </div>
                    </article>
                {% endif %}

                <div class="box">
                    <figure class="avatar">
                        <img src="/html/images/main_logo.png">
                    </figure>
                    <form action="/" method="post">
                        <div class="field">
                            <div class="control">
                                <input name="email" class="input is-large" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name="password" class="input is-large" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <button class="button is-block is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="/sign-up">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
