{% extends 'base.html.twig' %}

{% block title %} - Overview {% endblock %}

{% block content %}

    <div class="container mt-25">
        {% if error %}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Error</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ error }}
                </div>
            </article>
        {% endif %}

        <div class="row">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                </thead>
                {% for singleUser in users %}
                    <thead>
                        <tr>
                            <td>{{ singleUser.email }}</td>
                            <td>{{ singleUser.role }}</td>
                            <td><a style="color:inherit;text-decoration: none;" href="/edit/{{ singleUser.id }}"><i class="fa fa-edit"></i></a></td>
                            <td><a style="color:inherit;text-decoration: none;" href="/terminate/{{ singleUser.id }}"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </thead>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
