html,body {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.hero.is-success {
    background: #ffffff;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box {
    margin-top: 5rem;
    background-color: #003163;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

button {
    background-color: #efefef!important;
    color: #253752;!important;
}

.login-hr{
    border-bottom: 1px solid black;
}

.has-text-black{
    color: black;
}

.field{
    padding-bottom: 10px;
}

.fa{
    margin-left: 5px;
}

.mt-25 {
    margin-top: 25px;
}
